
<div class="vh-95 d-flex justify-content-center align-items-center">

    <!-- Login Box -->

    <div class="loginBoxDesign bg-gradient d-flex flex-column align-items-center justify-content-center">
        <p class="ff-title white fs-medium">Login </p>

        <form class=" formDesign d-flex flex-column align-items-center justify-content-evenly">
            <input type="text" name="email" class="inputDesign" placeholder="email">
            <input type="text" name="password" class="inputDesign" placeholder="password">
            <div type="button" class="bg-pink white ff-subTitle buttonDesign d-flex align-items-center justify-content-center pointer">Submit</div>
        </form>
    </div>

</div>