<div class="vh-95 d-flex justify-content-center align-items-center">
  <!-- Login Box -->

  <div
    class="loginBoxDesign bg-gradient d-flex flex-column align-items-center justify-content-center box-shadow"
  >
    <p class="ff-title white fs-medium">Login</p>

    <!-- By using formGroup in our form we are letting angular know that we want to use the FormGroup propierty, specifically the one saved into formLogin The ngSubmit launches the sendLogin function -->
    <form
      [formGroup]="formLogin"
      (ngSubmit)="sendLogin()"
      class="formDesign d-flex flex-column align-items-center justify-content-evenly"
    >
      <!-- The form control name makes reference to each key of the object created in login.component.ts => ngOnInit -->
      <input
        formControlName="email"
        type="text"
        name="email"
        class="inputDesign"
        placeholder="email"
      />
      <input
        formControlName="password"
        type="password"
        name="password"
        class="inputDesign"
        placeholder="password"
      />
      <button
        [disabled]="formLogin.invalid"
        type="submit"
        class="bg-pink white ff-subTitle buttonDesign d-flex align-items-center justify-content-center pointer"
      >
        Submit
      </button>
    </form>

    <p class="ff-subTitle white text-center">
      If you don't have an account, please
      <span class="pink fs-small pointer" routerLink="/auth/register"
        >Register</span
      >
    </p>
  </div>

  <hr />
</div>
