.loginBoxDesign{
    width: 30vw;
    height: 80vh;
    border-radius: 50px;
}

.formDesign{
    height: 30%;
}

.inputDesign{
    width: 20vw;
    height: 4vh;
    border-radius: 10px;
    text-indent: 10px;

}

.buttonDesign{
    width: 5vw;
    height: 4vh;
    border-radius: 10px;
}


@media (max-width:600px) {
    .loginBoxDesign{
        width: 80vw;
        height: 80vh;
    }

    .inputDesign{
        width: 60vw;
        height: 4vh;
        border-radius: 10px;
        text-indent: 10px;
    
    }
    
    .buttonDesign{
        width: 30vw;
        height: 4vh;
        border-radius: 10px;
    }
    
}